<ion-header>
  <ion-navbar hideBackButton>
    <div id="header">
      <div class="header-left">
        <button (click)="closeModal()" tappable><ion-icon name="icon-arrow-left"></ion-icon></button>
      </div>
      <div class="header-center">Shift Request</div>
      <div class="header-right">
        <ion-spinner *ngIf="showSpinner"></ion-spinner>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="content">

    <div class="virtual-height"></div>

    <ion-card>
      <ion-item>
        <ion-label>Request Date</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" [min]="shiftDateMin" [(ngModel)]="shiftDate" tappable></ion-datetime>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>Willing to work?</ion-label>
        <ion-toggle [(ngModel)]="isWorking" tappable></ion-toggle>
      </ion-item>
    </ion-card>

    <div class="virtual-height"></div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="sendRequest()" tappable>SEND REQUEST</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="virtual-height"></div>

  </div>
</ion-content>
