page-login{
  ion-grid{
    height: 100%;
    justify-content: center;

    .login-body{
      margin: 5em 0;
      height: auto;

      img{
        width: 125px;
        margin-bottom: 1em;
      }

      .list{
        box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.15);
        border: none !important;
        margin: 0 0 32px;
      }
      .item{
        &.item-block{
          border: none !important;
          box-shadow: none !important;

          &:nth-child(2){
            border-top: 1px solid #eee !important;
          }

          .item-inner{
            border: none !important;
            box-shadow: none !important;
            margin-left: 0 !important;
          }
        }
      }
      .submit-btn{
        background: #009dff;
        border-radius: 25px;
        border: 1px solid #52b5f3;
        font-size: 1.25em;
        height: 2.25em;
        margin-top: 1em;
        text-transform: uppercase;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }
}
