<ion-content padding>
  <ion-grid>
    <div class="login-body">
      <ion-row>
        <ion-col text-center>
          <img src="assets/imgs/logo.png" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <form (ngSubmit)="onLogin()" method="post">
            <ion-list>
              <ion-item>
                <ion-icon name="icon-email" item-left></ion-icon>
                <ion-input type="email" [(ngModel)]="email" placeholder="Email" name="email" required tappable></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="icon-lock" item-left></ion-icon>
                <ion-input type="{{type}}" [(ngModel)]="password" pattern=".{8,16}" name="password" placeholder="Password" required tappable></ion-input>
                <ion-icon *ngIf="!showPass" name="icon-eye-off" item-right (click)="showPassword()"></ion-icon>
                <ion-icon *ngIf="showPass" name="icon-eye-on" item-right (click)="showPassword()"></ion-icon>
              </ion-item>
            </ion-list>
            <button ion-button class="submit-btn" full type="submit" tappable>Login</button>
          </form>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
