page-pinchange{
  .toolbar{
    box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.25);
  }
  ion-grid{
    height: 100%;
    justify-content: center;
  }
  .scroll-content{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .pin-input{
    height: 6em;
    border-bottom: 0;
    margin-bottom: 1em;

    p{
      border-bottom: 2px solid rgba(34, 34, 34, 0.5);
      margin-bottom: 0;
      height: 3em;
      margin: 0 auto;
    }
    span{
      display: block;
      text-align: center;
      font-size: 3em;
      color: #222;
      line-height: 1;
      height: 100%;
    }
  }
  .button{
    height: 40px;
    width: 75px;
    font-size: 1.25em;

    .icon{
      color: #222 !important;
      font-size: 0.9em;
    }
  }
}
