<ion-header no-border>
  <ion-navbar hideBackButton>
    <div id="header">
      <div class="header-left">
        <button *ngIf="oldPin!=0" (click)="closeModal()" tappable><ion-icon name="icon-arrow-left"></ion-icon></button>
      </div>
      <div class="header-center">{{title}}</div>
      <div class="header-right">
        <ion-spinner *ngIf="showSpinner"></ion-spinner>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid text-center>

    <ion-row class="pin-input">
      <ion-col>
        <p>
          <span *ngIf="passcode.length > 0">*</span>
        </p>
      </ion-col>
      <ion-col>
        <p>
          <span *ngIf="passcode.length > 1">*</span>
        </p>
      </ion-col>
      <ion-col>
        <p>
          <span *ngIf="passcode.length > 2">*</span>
        </p>
      </ion-col>
      <ion-col>
        <p>
          <span *ngIf="passcode.length > 3">*</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let row of numberPad">
      <ion-col *ngFor="let col of row">
        <button *ngIf="col!=-1 && col!='del'" ion-button round outline color="dark" (click)="add(col)" tappable>&nbsp;{{col}}&nbsp;</button>
        <button *ngIf="col=='del'" ion-button round outline color="dark"  (click)="delete()" tappable>
          <ion-icon name="icon-arrow-left"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
