<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="doctor" tabIcon="icon-doctor" tappable></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="nurse" tabIcon="icon-nurse" tappable></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="schedule" tabIcon="icon-calendar" tappable></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="settings" tabIcon="icon-cog" tappable></ion-tab>
</ion-tabs>
