<ion-header>
  <ion-navbar hideBackButton>
    <div id="header">
      <div class="header-left">
        <button (click)="closeModal()" tappable><ion-icon name="icon-arrow-left"></ion-icon></button>
      </div>
      <div class="header-center">Change Password</div>
      <div class="header-right">
        <ion-spinner *ngIf="showSpinner"></ion-spinner>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="content">

    <div class="virtual-height"></div>

    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="icon-lock"></ion-icon>
        </ion-label>
        <ion-input placeholder="Current Password" [(ngModel)]="current_password" type="password" name="current_password" tappable></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="icon-lock"></ion-icon>
        </ion-label>
        <ion-input placeholder="New Password" [(ngModel)]="new_password" type="password" name="new_password" tappable></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="icon-lock"></ion-icon>
        </ion-label>
        <ion-input placeholder="Confirm Password" [(ngModel)]="confirm_password" type="password" name="confirm_password" tappable></ion-input>
      </ion-item>
    </ion-card>

    <div class="virtual-height"></div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="changePassword()" tappable>CHANGE PASSWORD</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="virtual-height"></div>

  </div>
</ion-content>
