page-status{
  .custom-message{
    margin-top: 0.5em;
    padding: 0 1em 1em 1em;

    .text-input{
      margin: 0;
      padding: 0.5em;
      height: 8em;
      width: 100%;
      background: #fff;
      border: 0.05em solid #c8c7cc;
    }
    .button{
      border-radius: 0;
      margin: 0.5em 0;
    }
  }
}
