<ion-header>
  <ion-navbar hideBackButton>
    <div id="header">
      <div class="header-left">
        <button (click)="closeModal()" tappable><ion-icon name="icon-arrow-left"></ion-icon></button>
      </div>
      <div class="header-center">Availability</div>
      <div class="header-right">
        <ion-spinner *ngIf="showSpinner"></ion-spinner>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="content">

    <div class="virtual-height"></div>

    <ion-card>
      <ion-item>
        <ion-label>Call</ion-label>
        <ion-toggle [(ngModel)]="voiceCall" (ionChange)="toggleStatus(voiceCall, 'voice_call', 'Calling')" tappable></ion-toggle>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Message</ion-label>
        <ion-toggle [(ngModel)]="textMessage" (ionChange)="toggleStatus(textMessage, 'text_message', 'Messaging')" tappable></ion-toggle>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Message for Non-Availability</ion-label>
      </ion-item>
      <div class="custom-message">
        <ion-textarea placeholder="Enter message here" [(ngModel)]="customMessage"></ion-textarea>
        <button ion-button block (click)="toggleStatus(customMessage, 'custom_message', 'Non-Availability Message')" tappable>SAVE MESSAGE</button>
      </div>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Available Again</ion-label>
        <ion-datetime displayFormat="HH:mm DD-MM-YYYY" (ngModelChange)="toggleStatus(againAvailable, 'available_again', 'Available Again')" [min]="minAvailable" [(ngModel)]="againAvailable" tappable></ion-datetime>
      </ion-item>
    </ion-card>

    <div class="virtual-height"></div>

  </div>
</ion-content>
