
page-chat{
  .toolbar{
    box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.25);
  }
  .scroll-content {
    border: none !important;
    scroll-behavior: smooth;
    background-color: #f0f0f0 !important;
    ion-scroll{
      height: 100%;
    }
  }

  .fixed-content{
    background-color: #f0f0f0 !important;
  }
  .refresher-active{
      background-color: #f0f0f0 !important;
  }
}

.chat-window {

  .chat-in,
  .chat-out{
    margin: 1.2em;
    padding: 0 1em;
    position: relative;
    border-radius: 1em;
    padding: 1em;
    overflow: hidden;

    .chat-object-wrapper{
      position: relative;

      .spinner{
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        height: 100%;
        width: 100%;

        svg {
          width: 30px;
          height: 30px;
          left: calc(50% - 15px);
          top: calc(50% - 15px);
        }          
      }
    }

    .cover-img {
      object-fit: cover;
      width: 100%;
      height: 200px;
    }

    .timestamp{
      font-size: 0.75em;
      line-height: 2;
    }

    img,
    audio,
    video{
      width: 100%;
      object-fit: contain;
    }

    .icon{
      color: inherit;
      margin-right: 0.5em;
    }
    a{
      line-height: 1.25;
      color: inherit;
    }
  }


  .chat-in{
    margin-right: 3em;
    background-color: #fff;

    .chat-object-wrapper{
      .spinner{
        background-color: #fff;
      }
    }

    &:before{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: -1.2em;
      right: auto;
      top: 0px;
      bottom: auto;
      border: 1.5em solid;
      border-color: #fff transparent transparent transparent;
    }
  }
  .chat-out{
    color: #fff;
    margin-left: 3em;
    background-color: #1b2a33;

    .chat-object-wrapper{
      .spinner{
        background-color: #1b2a33;
      }
    }

    &:after{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      right: -1.2em;
      left: auto;
      top: 0px;
      bottom: auto;
      border: 1.5em solid;
      border-color: #1b2a33 transparent transparent transparent;
    }
  }
  .chat-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

}
