<ion-header>
  <ion-navbar hideBackButton>
    <div id="header">
      <div class="header-chat" (click)="goBackToList()" tappable>
        <ion-icon name="icon-arrow-left"></ion-icon> <img class="pic" [src]="person.image" />
      </div>
      <div class="header-center" (click)="goToUser(person.id)" tappable>
        <h1 class="name s0">{{person.name}}</h1>
      </div>
      <div class="header-right">
        <ion-spinner *ngIf="showSpinner"></ion-spinner>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="loadingPrevChats($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="chat-window">

      <div *ngFor="let chat of chatMessages" [ngClass]="{'chat-in': chat.sender_id == person.id || chat.sender_id != userId, 'chat-out': chat.sender_id == userId, 'chat-animate': chat.animation}">
        <div class="chat-info">
          <p class="name" *ngIf="chat.sender_id != userId">
            <span *ngIf="chat.type!=2">{{person.name}}</span>
            <span *ngIf="chat.type==2">{{chat.sender_name}}</span>
          </p>
          <p class="timestamp">{{chat.timestamp | localtime:'chat'}}</p>
          <p class="name" *ngIf="chat.sender_id == userId">Me</p>
        </div>

        <div class="chat-text" *ngIf="chat.message_type=='audio'">
          <div class="chat-object-wrapper">
            <audio controls controlsList="nodownload" tappable>
              <source [src]="chat.message" type="audio/mpeg" (load)="objectLoaded()">
            </audio>
          </div>
        </div>

        <div class="chat-text" *ngIf="chat.message_type=='video'">
          <div class="chat-object-wrapper">
            <video controls controlsList="nodownload" tappable>
              <source [src]="chat.message" type="video/mp4" (load)="objectLoaded()">
            </video>
          </div>
        </div>

        <div class="chat-text" *ngIf="chat.message_type=='image'">
          <div class="chat-object-wrapper">
            <img [src]="chat.message" class="cover-img" (load)="objectLoaded()" imageViewer tappable />
            <ion-spinner *ngIf="imgSpinner"></ion-spinner>
          </div>
        </div>

        <div class="chat-text" *ngIf="chat.message_type=='url'">
          <a [href]="chat.message" tappable><ion-icon name="icon-document"></ion-icon> Open Document</a>
        </div>

        <div class="chat-text" *ngIf="chat.message_type=='text'">{{chat.message}}</div>
      </div>

    </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer">
      <div class="chat-input">
        <ion-input type="text" [(ngModel)]="chatText" (ionFocus)="onFocusIn()" (focusout)="onFocusOut()" (keypress)="onEnter($event.keyCode)" placeholder="Type a message..." tappable></ion-input>
      </div>
      <div class="chat-actions">
        <button type="button" (click)="captureAudio()" [ngClass]="{'shrink': onfocus}" tappable>
          <ion-icon name="icon-microphone"></ion-icon>
        </button>
        <button type="button" (click)="sendAttachment()" [ngClass]="{'shrink': onfocus}" tappable>
          <ion-icon class="icon-attachment"></ion-icon>
        </button>
        <button type="button" (click)="sendMessage()" tappable>
          <ion-icon class="icon-send"></ion-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
