page-pin{
  ion-header{
    border-bottom: 2px solid rgba(255,255,255,0.25);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
  }
  ion-content{
    background: #009dff;
    background: -webkit-linear-gradient(to bottom, #009dff, rgb(72, 138, 255));
    background: linear-gradient(to bottom, #009dff, rgb(72, 138, 255));
  }
  ion-grid{
    height: 100%;
    justify-content: center;
  }
  .pin-input{
    height: 6em;
    border-bottom: 0;
    margin: -8em 0 1em 0;

    p{
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      margin-bottom: 0;
      height: 3em;
      margin: 0 auto;
    }
    span{
      display: block;
      text-align: center;
      font-size: 3em;
      color: #f1f1f1;
      line-height: 1;
      height: 100%;
    }
  }
  .button{
    height: 40px;
    width: 75px;
    font-size: 1.25em;

    .icon{
      color: #f1f1f1 !important;
      font-size: 0.9em;
    }
  }

  .finger-print{
    margin-bottom: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    button{
      box-shadow: 0 0 1.2em 0 rgba(100, 100, 100, 0.25);
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 0;
      height: 64px;
      width: 64px;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
