<ion-header no-border>
  <ion-navbar hideBackButton>
    <ion-title>
      <h6 ion-text text-center text-uppercase color="light">Enter PIN</h6>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding>
  <ion-grid text-center>

    <ion-row class="pin-input">
      <ion-col>
        <p>
          <span *ngIf="passcode.length > 0">*</span>
        </p>
      </ion-col>
      <ion-col>
        <p>
          <span *ngIf="passcode.length > 1">*</span>
        </p>
      </ion-col>
      <ion-col>
        <p>
          <span *ngIf="passcode.length > 2">*</span>
        </p>
      </ion-col>
      <ion-col>
        <p>
          <span *ngIf="passcode.length > 3">*</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let row of numberPad">
      <ion-col *ngFor="let col of row">
        <button *ngIf="col!=-1 && col!='del'" ion-button round outline color="light" (click)="add(col)" tappable>&nbsp;{{col}}&nbsp;</button>
        <button *ngIf="col=='del'" ion-button round outline color="light"  (click)="delete()" tappable>
          <ion-icon name="icon-arrow-left"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="finger-print">
			<ion-col></ion-col>
			<ion-col>
        <button (click)="open()" tappable>
          <img src="assets/imgs/finger-print.png" width="50" />
        </button>
			</ion-col>
			<ion-col></ion-col>
		</ion-row>

  </ion-grid>
</ion-content>
