page-call{
  ion-content{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(60, 59, 63), rgb(96, 92, 60)) repeat scroll 0% 0%;

    ion-grid{
      height: 100%;
      justify-content: center;

      .person-title{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: #fff;
        margin-top: 3em;

        .person-image{
          border: 4px solid rgba(255,255,255,0.25);
          width: 8em;
          height: 8em;
          border-radius: 50%;
          margin-bottom: 10px;
        }
        .person-name{
          font-size: 2em;
          margin-bottom: 10px;
        }
        .person-phone{
          font-size: 1.5em;
          margin-bottom: 20px;
        }
        .connection-status{
          font-size: 1.5em;

          small{
            margin: 0 15px;
          }
        }
      }

      .option-buttons{
        margin-top: 14em;

        button{
          border: none;
          height: 4.5em;
          border-radius: 50%;
          padding: 0;
          background: rgba(255,255,255,0.1);
          width: 4.5em;

          .icon-md,
          .icon-ios{
            font-size: 2.5em;
            color: #e8e8e8;
          }

          &.active{
            background: #7063f9;

            .icon-md,
            .icon-ios{
              font-size: 2.5em;
              color: #fff;
            }
          }
        }
      }

      .control-buttons{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 3em;

        .call-end{
          text-align: center;

          button{
            background: red;
            border: 1px solid red;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
          }
        }

        .call-start{
          text-align: center;

          button{
            background: #36ab1c;
            border: 1px solid #36ab1c;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
          }
        }

        button{
          height: 4.5em;
          width: 4.5em;
          padding: 0;

          .icon-md,
          .icon-ios{
            font-size: 3em;
            color: #e8e8e8;
          }
        }
      }
    }
  }
  audio{
    height: 0;
    width: 0;
  }
}
