<ion-content fullscreen padding>
  <ion-grid text-center>

    <ion-row class="person-title">
      <ion-col>
        <img [src]="person.image" class="person-image" />
        <h3 class="person-name">{{person.name}}</h3>
        <p class="person-phone"></p>
        <p class="connection-status">
          <small *ngIf="message">{{message}}</small>
          <small *ngIf="duration">{{duration}}</small>
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="option-buttons">
      <ion-col></ion-col>
      <ion-col>
        <button ion-button round outline color="light" [disabled]="initiator && !accept" [ngClass]="{'active': mute===true}" (click)="callMuteMode()" tappable>
          <ion-icon name="icon-mic-off"></ion-icon>
        </button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <button ion-button round outline color="light" [disabled]="initiator && !accept" [ngClass]="{'active': speaker===true}" (click)="callSpeakerMode()" tappable>
          <ion-icon name="icon-volume-2"></ion-icon>
        </button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row class="control-buttons">
      <ion-col class="call-end">
        <button ion-button round outline color="light" (click)="callReject()" tappable>
          <ion-icon name="icon-x"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="call-start" *ngIf="!initiator && !accept">
        <button ion-button round outline color="light" (click)="callAccept()" tappable>
          <ion-icon name="icon-check"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<audio [src]="sanitize(remoteAudio)" autoplay></audio>
