page-settings{
  .content-ios,
  .content-md{
    background: #f9f9f9;
  }
  #header{
    background: none !important;
  }
  .pro-card{
    box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.25);
    text-align: center;
    padding-bottom: 2em;
    background-color: #f9f9f9;
    color: #009dff;

    .circle-pic{
      border-radius: 50%;
      width: 8em;
      height: 8em;
      border: 2px solid rgba(0, 157, 255, 1);
      margin: 0 auto;
      position: relative;

      .spinner{
        background-color: #f9f9f9;
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        height: 8em;
        width: 8em;
        z-index: 9;

        svg {
          width: 30px;
          height: 30px;
          left: calc(50% - 15px);
          top: calc(50% - 15px);
        }          
      }

      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
      .icon{
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 5;
        border-radius: 50%;
        color: #fff;
        border: 2px solid rgba(255,255,255,0.5);
        padding: 4px;
        background-color: #009dff;
      }
    }
  }
  .pro-info{
    margin-top: 1.5em;

    .pro-desig{
      color: #5f5f5f;
      margin-top: 0.25em;
    }
  }
  .item .icon{
    line-height: 22px;
    height: 22px;
    width: 22px;
    display: inline-block;
    text-align: center;
    margin-right: 0.5em;
    background-color: #009dff;
    color: #fff;
    border-radius: 50%;
  }
}
