<ion-header no-border>
  <ion-navbar transparent hideBackButton>
    <div id="header">
      <div class="header-chat"></div>
      <div class="header-center"></div>
      <div class="header-right">
        <ion-spinner *ngIf="showSpinner"></ion-spinner>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <div id="content">
    <div class="pro-card">
      <div class="circle-pic">
        <img [src]="userData.image" (click)="presentActionSheet()" (load)="imageLoaded()" tappable />
        <ion-spinner *ngIf="imgSpinner"></ion-spinner>

        <ion-icon name="icon-pencil" (click)="presentActionSheet()" tappable></ion-icon>
      </div>
      <div class="pro-info">
        <h1 class="pro-name">{{userData.name}}</h1>
        <h6 class="pro-desig" *ngIf="userData.info">
          <span>{{userData.info}}</span>
        </h6>
      </div>
    </div>

    <div class="virtual-height"></div>

    <ion-list inset>
      <button ion-item (click)="goToStatus()" tappable>
        <ion-icon name="icon-dot"></ion-icon> Availability
      </button>
    </ion-list>

    <ion-list inset>
      <button ion-item (click)="goToPIN()" tappable>
        <ion-icon name="icon-pin"></ion-icon> Change PIN
      </button>
    </ion-list>

    <ion-list inset>
      <button ion-item (click)="goToPassword()" tappable>
        <ion-icon name="icon-lock"></ion-icon> Change Password
      </button>
    </ion-list>

    <ion-list inset>
      <button ion-item>
        <ion-icon name="icon-info"></ion-icon> Help
      </button>
    </ion-list>

    <ion-list inset>
      <button ion-item>
        <ion-icon name="icon-bell"></ion-icon> Notifications
      </button>
    </ion-list>

    <ion-list inset>
      <button ion-item>
        <ion-icon name="icon-privacy"></ion-icon> Privacy Policy
      </button>
    </ion-list>

    <ion-list inset>
      <button ion-item (click)="onLogout()" tappable>
        <ion-icon name="icon-logout"></ion-icon> Logout
      </button>
    </ion-list>

    <div class="virtual-height"></div>

  </div>
</ion-content>
