@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url(../assets/fonts/Open+Sans_300_italic.eot);
  src: local('☺'),
       url(../assets/fonts/Open+Sans_300_italic.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/Open+Sans_300_italic.woff) format('woff'),
       url(../assets/fonts/Open+Sans_300_italic.ttf) format('truetype'),
       url(../assets/fonts/Open+Sans_300_italic.svg#Open+Sans_300_italic) format('svg')
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(../assets/fonts/Open+Sans_400_italic.eot);
  src: local('☺'),
       url(../assets/fonts/Open+Sans_400_italic.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/Open+Sans_400_italic.woff) format('woff'),
       url(../assets/fonts/Open+Sans_400_italic.ttf) format('truetype'),
       url(../assets/fonts/Open+Sans_400_italic.svg#Open+Sans_400_italic) format('svg')
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(../assets/fonts/Open+Sans_600_italic.eot);
  src: local('☺'),
       url(../assets/fonts/Open+Sans_600_italic.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/Open+Sans_600_italic.woff) format('woff'),
       url(../assets/fonts/Open+Sans_600_italic.ttf) format('truetype'),
       url(../assets/fonts/Open+Sans_600_italic.svg#Open+Sans_600_italic) format('svg')
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(../assets/fonts/Open+Sans_700_italic.eot);
  src: local('☺'),
       url(../assets/fonts/Open+Sans_700_italic.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/Open+Sans_700_italic.woff) format('woff'),
       url(../assets/fonts/Open+Sans_700_italic.ttf) format('truetype'),
       url(../assets/fonts/Open+Sans_700_italic.svg#Open+Sans_700_italic) format('svg')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Open+Sans_300_normal.eot);
  src: local('☺'),
       url(../assets/fonts/Open+Sans_300_normal.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/Open+Sans_300_normal.woff) format('woff'),
       url(../assets/fonts/Open+Sans_300_normal.ttf) format('truetype'),
       url(../assets/fonts/Open+Sans_300_normal.svg#Open+Sans_300_normal) format('svg')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Open+Sans_400_normal.eot);
  src: local('☺'),
       url(../assets/fonts/Open+Sans_400_normal.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/Open+Sans_400_normal.woff) format('woff'),
       url(../assets/fonts/Open+Sans_400_normal.ttf) format('truetype'),
       url(../assets/fonts/Open+Sans_400_normal.svg#Open+Sans_400_normal) format('svg')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/Open+Sans_600_normal.eot);
  src: local('☺'),
    url(../assets/fonts/Open+Sans_600_normal.eot?#iefix) format('embedded-opentype'),
    url(../assets/fonts/Open+Sans_600_normal.woff) format('woff'),
    url(../assets/fonts/Open+Sans_600_normal.ttf) format('truetype'),
    url(../assets/fonts/Open+Sans_600_normal.svg#Open+Sans_600_normal) format('svg')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Open+Sans_700_normal.eot);
  src: local('☺'),
       url(../assets/fonts/Open+Sans_700_normal.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/Open+Sans_700_normal.woff) format('woff'), 
       url(../assets/fonts/Open+Sans_700_normal.ttf) format('truetype'), 
       url(../assets/fonts/Open+Sans_700_normal.svg#Open+Sans_700_normal) format('svg')
}
