@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?6t4clq');
  src:  url('../assets/fonts/icomoon.eot?6t4clq#iefix') format('embedded-opentype'),
        url('../assets/fonts/icomoon.ttf?6t4clq') format('truetype'),
        url('../assets/fonts/icomoon.woff?6t4clq') format('woff'),
        url('../assets/fonts/icomoon.svg?6t4clq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^=fab-close-], [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fab-close-icon{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before{
    content: "\e922";
  }
}


@mixin makeIcon($arg, $val) {
  .icon-#{$arg}:before,
  .ion-ios-icon-#{$arg}:before,
  .ion-ios-icon-#{$arg}-outline:before,
  .ion-md-icon-#{$arg}:before,
  .ion-ios-#{$arg}:before,
  .ion-md-#{$arg}:before {
    content: $val;
  }
}


@include makeIcon('camera', "\e900");
@include makeIcon('check', "\e901");
@include makeIcon('mic-off', "\e902");
@include makeIcon('phone-off', "\e903");
@include makeIcon('volume-2', "\e904");
@include makeIcon('x', "\e905");
@include makeIcon('arrow-left', "\e906");
@include makeIcon('arrow-back', "\e906");
@include makeIcon('arrow-right', "\e907");
@include makeIcon('arrow-up', "\e908");
@include makeIcon('attachment', "\e909");
@include makeIcon('bell-1', "\e90a");
@include makeIcon('bell', "\e90b");
@include makeIcon('calendar', "\e90c");
@include makeIcon('camera2', "\e90d");
@include makeIcon('cancel', "\e90e");
@include makeIcon('chat', "\e90f");
@include makeIcon('clock', "\e910");
@include makeIcon('cog', "\e911");
@include makeIcon('delete', "\e912");
@include makeIcon('doctor', "\e913");
@include makeIcon('done', "\e914");
@include makeIcon('dots', "\e915");
@include makeIcon('email', "\e916");
@include makeIcon('filter', "\e917");
@include makeIcon('group', "\e918");
@include makeIcon('home', "\e919");
@include makeIcon('info', "\e91a");
@include makeIcon('location', "\e91b");
@include makeIcon('lock', "\e91c");
@include makeIcon('microphone', "\e91d");
@include makeIcon('nurse', "\e91e");
@include makeIcon('pencil', "\e91f");
@include makeIcon('phone', "\e920");
@include makeIcon('plus', "\e921");
@include makeIcon('question', "\e922");
@include makeIcon('refresh', "\e923");
@include makeIcon('search', "\e924");
@include makeIcon('send', "\e925");
@include makeIcon('share', "\e926");
@include makeIcon('star', "\e927");
@include makeIcon('close-icon', "\e928");
@include makeIcon('document', "\e929");
@include makeIcon('leave', "\ea14");
@include makeIcon('swap', "\ea45");
@include makeIcon('logout', "\f011");
@include makeIcon('image', "\f03e");
@include makeIcon('pin', "\f069");
@include makeIcon('eye-on', "\f06e");
@include makeIcon('eye-off', "\f070");
@include makeIcon('privacy', "\f132");
@include makeIcon('dot', "\f192");
