page-nurse{
  .toolbar{
    box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.25);
    min-height: auto;
  }
  .no-result{
    height: 100%;
  }
  .search-box {
    height: 45px;
    overflow: hidden;
    position: relative;
    z-index: 9;

    .searchbar-md,
    .searchbar-ios{
      padding: 0;
      background: #fff;
      border-bottom: 0.55px solid #c8c7cc;
      box-shadow: none;

      .searchbar-input{
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
  .result-box {
    position: relative;
    z-index: 1;

    .message-count {
      position: absolute;
      background-color: #109A0F;
      color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      font-size: 0.75em;
      position: absolute;
      z-index: 99;
    }
  }
  .error-box{
    height: calc(100% - 50px);
    text-align: center;
    color: #717171;
    font-size: 1em;

    .grid{
      height: 100%;
      justify-content: center;

      .icon{
        display: block;
        font-size: 10em;
      }
    }
  }
}
