/** import fonts & icons **/
@import "../theme/fonts";
@import "../theme/icons";

/** reset style **/
*,
:after,
:before{
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  vertical-align: top;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
body,
html{
  user-select: none;
}
body{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #2f2525;
}
:focus{
  outline: none !important;
}
::placeholder{
  color: #acbdc8;
}
input{
  border-radius: 0;
  outline: none;
}
button{
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: opacity .3s cubic-bezier(0, .6, .8, 1);
  transition: opacity .3s cubic-bezier(0, .6, .8, 1);
}
button:active{
  opacity: .7;
  -webkit-transition: none;
  transition: none;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  line-height: inherit;
}
h1 + h2, h1 + h3, h2 + h3{
  margin-top: 0;
}
a{
  text-decoration: none;
}
img{
  min-width: 2em;
  text-indent: -9999px;
  color: transparent!important;
  -webkit-appearance: none!important;
}
image-viewer{
  .icon-ios,
  .icon-md{
    font-size: 1.2em;
  }
}

/** ionic style override **/
ion-app.md,
ion-app.ios{
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
ion-app.md{
  font-size: 0.8em;
}
ion-spinner{
  display: block;
  margin: auto;
}
.icon-md,
.icon-ios{
  color: #009dff;
  z-index: 9;
}
.toolbar-md,
.toolbar-ios{
  padding:0;
}
.toolbar-background{
  background: none;
}
.card-md,
.card-ios{
  box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.15);
}
.label-md,
.label-ios{
  color:#2f2525 !important;
}

/** theme style **/
.scrollable{
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
.virtual-height{
  height: 1em;
}

#app{
  display: flex;
  flex-direction: column;
  height: 100%;

  #header{
    z-index: 1;
    width: 100%;
    position: relative;
    height: 4em;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 0 1.2em;
    color: #587283;

    .header-left{
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      z-index: 9;

      .active{
        color: #009dff;
        border-bottom-color: #009dff;
      }
      button{
        font-size: 1em;
        padding: 0 0.8em;
        border-bottom: 0.1em solid transparent;
        height: 100%;
      }
    }

    .header-chat{
      display: flex;
      flex-direction: row;
      align-items: center;

      .pic{
        width: 2em;
        height: 2em;
        margin: 0 0.5em;
        border-radius: 1em;
      }
    }

    .header-center{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      font-size: 1.7rem;
      pointer-events: auto;

      h1{
        font-size: 1.7rem;
      }
    }
    .header-right{
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      z-index: 9;

      ion-spinner{
        margin-right: 0;
      }
    }
    .header-action{
      color: #009dff;
      font-size: 1.2em;
    }
  } /** #header **/

  #content{
    flex: 1;
    background-color: #f0f0f0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;

    .s6{
      font-size: 1.6em;
    }
    .s5{
      font-size: 1.5em;
    }
    .s4{
      font-size: 1.4em;
    }
    .s3{
      font-size: 1.3em;
    }
    .s2{
      font-size: 1.2em;
    }
    .s1{
      font-size: 1.1em;
    }
    .s0{
      font-size: 1em;
    }
    .s9{
      font-size: 0.9em;
    }
    .s8{
      font-size: 0.8em;
    }
    .s7{
      font-size: 0.7em;
    }
    .s6{
      font-size: 0.6em;
    }
    .s5{
      font-size: 0.5em;
    }
    .search{
      display: flex;
      padding: 0.8em 1.2em;
      background-color: #fff;
      height: 50px;

      .icon{
        position: relative;
        top: 0.5em;
        font-size: 1.2em;
        color: #587283;
      }
      input{
        flex: 1;
        border-width: 0;
        font-size: 1em;
        padding: 0.5em 0.5em 0.4em 0.8em;
        color: #587283;
        background-color: transparent;
        margin: 0;
      }
    }


    .xcard{
      display: flex;
      padding: 1em 1.2em;
      margin: 0.4em 0;
      background-color: #fff;
      border-bottom: 0.55px solid #c8c7cc;

      .img-cover{
        position: relative;

        .spinner{
          background-color: #fff;
          position: absolute;
          top: -1px;
          left: -1px;
          bottom: -1px;
          right: -1px;
          height: 4em;
          width: 4em;

          svg {
            width: 30px;
            height: 30px;
            left: 17px;
            top: 17px;
          }
        }
      }

      &:nth-child(odd){
        background-color: #f9f9f9;

        .img-cover{
          .spinner{
            background-color: #f9f9f9;
          }
        }
      }
      .pic{
        width: 4em;
        height: 4em;
        border-radius: 2em;
      }
      h1{
        font-weight: 400;
      }
      h2{
        font-weight: 100;
      }
      .name{
        color: #009dff;
      }
      .info{
        color: #2f3d46;
        line-height: 1.6;
        overflow: hidden;
        word-wrap: normal;
        text-overflow: ellipsis;
        width: 10em;
        white-space: nowrap;

        .icon{
          position: relative;
          top: 0.35em;
          font-size: 1em;
          color: inherit;
        }
      }
      .favorite-0{
        position: relative;
        z-index: 9;
        font-size: 1.6em;

        .icon{
          color: #999;
        }
      }
      .favorite-1{
        font-size: 1.6em;

        .icon{
          color: #009dff;
        }
      }
      .options{
        color: #2f3d46;
        font-size: 1.4em;
      }

      .xcard-left{
        flex: 1;
        padding-left: 1.2em;
      }
      .xcard-right{
        display: flex;
        width: 1.5em;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        line-height: 1;
      }
      .dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #bbb;
        display: inline-block;

        &.dot-0{
          background-color: #FFCC00;
        }
        &.dot-1{
          background-color: #4B9609;
        }
        &.dot-2{
          background-color: #CC060C;
        }
      }
    }
  } /** #content **/

  #footer{
    z-index: 1;
    width: 100%;
    position: relative;
    height: 4em;
    background-color: #fff;
    box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.2em;
    justify-content: space-around;

    button{
      text-align: center;
      color: #6f8c9f;
      transition: width 0.3s ease-in-out;
      overflow: hidden;
      width: 4em;

      &.shrink{
        display:none;
      }

      &.active{
        color: #009dff;
      }
    }
    .icon{
      font-size: 2.6em;
      color: inherit;
    }
    .chat-input{
      display: flex;
      flex: 1;
      padding-right: 1em;
      align-items: center;

      input{
        width: 100%;
        padding: 0.8em;
        font-size: 1em;
        border-width: 0;
        border-radius: 0.8em;
        background-color: #f9f9f9;
        margin: 0;
        width: 100%;
      }
    }
    .chat-actions{
      display: flex;
      align-items: center;
      font-size: 0.6em;
    }
  } /** #footer **/
} /** #app **/
