<ion-header>
  <ion-navbar hideBackButton>
    <div id="header">
      <div class="header-left">
        <button [ngClass]="{'active': tab==='recent'}" (click)="subTabHandler('recent')" tappable>
          <label>Recent</label>
        </button>
        <button [ngClass]="{'active': tab==='call'}" (click)="subTabHandler('call')" tappable>
          <label>Oncall</label>
        </button>
        <button [ngClass]="{'active': tab==='all'}" (click)="subTabHandler('all')" tappable>
          <label>All</label>
        </button>
        <button [ngClass]="{'active': tab==='fav'}" (click)="subTabHandler('fav')" tappable>
          <label>Fav</label>
        </button>
      </div>
      <div class="header-right">
        <ion-spinner *ngIf="showSpinner"></ion-spinner>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="content" [ngClass]="{'no-result': response == 'error'}">

    <div class="search-box">
      <ion-searchbar [(ngModel)]="query" (input)="searchDoctor()" tappable></ion-searchbar>
    </div>

    <div class="result-box" *ngIf="response == 'success'">
      <div class="xcard" *ngFor="let doctor of doctors">
        <span class="message-count" *ngIf="doctor.message">{{doctor.message}}</span>
        <div class="img-cover">
          <img class="pic" [src]="doctor.image" (click)="goToUser(doctor.id)" (load)="imageLoaded()" tappable />
          <ion-spinner *ngIf="imgSpinner"></ion-spinner>
        </div>
        <div class="xcard-left" (click)="presentActionSheet(doctor)" tappable>
          <h1 class="name s2">{{doctor.name}}</h1>
          <h1 class="info s1" *ngIf="doctor.type!=2"><ion-icon name="icon-group"></ion-icon> {{doctor.description.name}}</h1>
          <h1 class="info s1" *ngIf="doctor.type==2"> {{doctor.description_text}}</h1>
        </div>
        <div class="xcard-right">
          <span class="dot dot-{{doctor.status}}" *ngIf="doctor.type!=2"></span>
          <h2 (click)="doctorFavorite(doctor)" class="favorite-{{doctor.favorite}}" *ngIf="doctor.type!=2" tappable>
            <ion-icon name="icon-star"></ion-icon>
          </h2>
        </div>
      </div>

      <ion-infinite-scroll (ionInfinite)="loadingDoctors($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading doctors..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div class="error-box" *ngIf="response == 'error'">
      <ion-grid>
        <ion-row>
          <ion-col><ion-icon name="icon-doctor"></ion-icon> {{message}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>
