page-user{
  .content-ios,
  .content-md{
    background: #f9f9f9;
  }
  #header{
    background: none !important;
  }
  .pro-card{
    position: relative;
    text-align: center;
    padding-bottom: 2em;
    background-color: #f9f9f9;
    color: #009dff;

    .circle-pic{
      border-radius: 50%;
      width: 8em;
      height: 8em;
      border: 2px solid rgba(0, 157, 255, 1);
      margin: 0 auto;
      position: relative;

      .dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #bbb;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 1.5em;

        &.dot-0{
          background-color: #FFCC00;
        }
        &.dot-1{
          background-color: #4B9609;
        }
        &.dot-2{
          background-color: #CC060C;
        }
      }

      .spinner{
        background-color: #f9f9f9;
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        height: 8em;
        width: 8em;
        z-index: 9;

        svg {
          width: 30px;
          height: 30px;
          left: calc(50% - 15px);
          top: calc(50% - 15px);
        }
      }

      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
  .pro-info{
    margin-top: 1.5em;

    .pro-desig{
      color: #5f5f5f;
      margin-top: 0.25em;
    }
  }
  .pro-options{
    background-color: #fff;
    margin-bottom: 1em;
    display: table;
    width: 100%;
    box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.25);

    .list-count{
      display: table-cell;
      text-align: center;
      padding: 1em 0;
      border: 1px solid #eee;

      &.bell {
        .icon{
          color: #800;
        }
      }
      &.email{
        .icon{
          color: #652;
        }
      }
      &.attachment{
        .icon{
          color: #729;
        }
      }
      &.info{
        .icon{
          color: #186;
        }
      }
      span{
        display: block;
        font-size: 1em;
        font-weight: 300;
      }
      .icon{
        font-size: 1.5em;
      }
    }
  }
  .media-box{
    border: 0.55px solid #c8c7cc;
    height: 150px;
    overflow: hidden;
    text-align: center;
    position: relative;

    img,
    audio,
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .spinner{
      background-color: #fff;
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
      height: 150px;
      width: 100%;
      z-index: 9;

      svg {
        width: 30px;
        height: 30px;
        left: calc(50% - 15px);
        top: calc(50% - 15px);
      }
    }

    a{
      display: table;
      height: 100%;
      width: 100%;

      .icon{
        font-size: 4em;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  .no-media-box{
    border: 1px solid #ddd;
    height: 150px;
    overflow: hidden;
    text-align: center;
    display: table;
    width: 100%;

    h4{
      color: #999;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
