<ion-header no-border>
  <ion-navbar transparent hideBackButton>
    <div id="header">
      <div class="header-chat" (click)="goBackToList()" tappable>
        <ion-icon name="icon-arrow-left"></ion-icon>
      </div>
      <div class="header-center"></div>
      <div class="header-right">
        <ion-spinner *ngIf="showSpinner"></ion-spinner>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <div id="content">
    <div class="pro-card">
      <div class="circle-pic">
        <span class="dot dot-{{person.status}}" *ngIf="person.type!=2"></span>
        <img [src]="person.image" (load)="imageLoaded()" imageViewer tappable />
        <ion-spinner *ngIf="imgSpinner"></ion-spinner>
      </div>
      <div class="pro-info">
        <h1 class="pro-name">{{person.name}}</h1>
        <h6 class="pro-desig" *ngIf="person.info">
          <span>{{person.info}}</span>
        </h6>
      </div>
    </div>
    <div class="pro-options">
      <div class="list-count bell" *ngIf="person.type==0 || person.type==1" (click)="makeCall(person)" tappable>
        <ion-icon name="icon-phone"></ion-icon>
      </div>
      <div class="list-count email" (click)="goToChatbox(person.id, person.type)" tappable>
        <ion-icon class="icon-chat"></ion-icon>
      </div>
    </div>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 ion-text>Media</h3>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="medias">
          <ion-col col-6 *ngFor="let media of medias">
            <div *ngIf="media.message_type=='image'" class="media-box">
              <img [src]="media.message" imageViewer (load)="imageLoaded()" tappable />
              <ion-spinner *ngIf="imgSpinner"></ion-spinner>
            </div>

            <div *ngIf="media.message_type=='audio'" class="media-box">
              <audio controls controlsList="nodownload" tappable>
                <source [src]="media.message" type="audio/mpeg" (load)="imageLoaded()">
              </audio>
            </div>

            <div *ngIf="media.message_type=='video'" class="media-box">
              <video controls controlsList="nodownload" tappable>
                <source [src]="media.message" type="video/mp4" (load)="imageLoaded()">
              </video>
            </div>

            <div *ngIf="media.message_type=='url'" class="media-box">
              <a [href]="media.message" tappable><ion-icon name="icon-document"></ion-icon></a>
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!medias">
          <ion-col>
            <div class="no-media-box"><h4 ion-text>No media found</h4></div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card>

    <div class="virtual-height"></div>

  </div>
</ion-content>
