page-schedule{
  .toolbar{
    box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.25);
  }
  .month{
    padding-left: 1em;
    margin-right: 0.5em;
    color: #009dff;
    font-size: 1.7rem;
  }
  .year{
    padding-right: 1em;
    font-size: 1.7rem;
  }
  .prev-next{
    padding: 0 !important;

    .icon{
      border: 1px solid #009dff;
      padding: 0.25em;
      margin-right: 0.25em;
      font-size: 1em;

      &.disabled{
        color: #999;
        border-color: #999;
      }
    }
  }
  .calendar{
    padding: 1em 0.5em;
    background-color: #fff;
    box-shadow: 0 0 1.2em rgba(100, 100, 100, 0.25);
    margin-bottom: 1em;
    min-height: 22em;

    table{
      width: 100%;

      th{
        background-color: #fff;
        padding: 1em 0;
        color: #009dff;
        font-weight: 600;
        font-size: 1em;

        &:first-child{
          color: #dd0000;
        }
      }
      td{
        padding: 0.5em 0;
        text-align: center;
        vertical-align: middle;
        font-size: 1em;

        &:first-child span{
          color: #dd0000;
        }
      }
      span{
        height: 2.5em;
        width: 2.5em;
        border-radius: 50%;
        display: inline-block;
        line-height: 2.5;
        border: 1px solid inherit;

        .today{
          border: 1px solid #009dff;
        }
      }
    }
  }
  .shift-details{
    .shift-time{
      margin-bottom: 1em;

      h5{
        padding: 5px;
        font-size: 1em;
        height: 100%;
      }
    }
    .list{
      background-color: #fff;

      &:nth-child(2n){
        .item-wrapper,
        .item{
          background-color: #f9f9f9;
        }
      }
      .item{
        border-top: none;

        small{
          padding-right: 1.5em;
        }

        .red{
          height: 10px;
          width: 10px;
          background-color: #dd0000;
          border-radius: 50%;
          float: right;
          color: #dd0000;
          overflow: hidden;
          position: absolute;
          margin-top: 0.4em;
          right: 1em;
        }
        .green{
          height: 10px;
          width: 10px;
          background-color: #00dd00;
          border-radius: 50%;
          float: right;
          color: #00dd00;
          overflow: hidden;
          position: absolute;
          margin-top: 0.4em;
          right: 1em;
        }
      }
    }
    .xcard{
      padding: 0 !important;
      margin: 0 !important;
      background: none !important;
      border-bottom: none !important;

      .xcard-left{
        padding-left: 0 !important;
      }

      .pic{
        margin-top: 0.5em;
      }
      @media (max-width: 330px) {
        .pic{
          width: 3em !important;
          height: 3em !important;
         }
         .arrow{
           font-size: 0.5em;
         }
      }
    }
    .leave-head{
      font-size: 1em;
      padding: 0 0.5em;
    }
    .no-leave{
      font-size: 0.9em;
      padding: 2em 0;
    }
    .name{
      margin-bottom: 0.8em;
    }
    .icon-done,
    .icon-cancel{
      font-size: 1.5em;
      width: 2em;
      padding-bottom: 0 !important;
      color: #fff;
    }
    ion-item-options{
      flex-direction: column;
    }
    ion-item-sliding.active-slide.active-options-left ion-item-options[side=left],
    ion-item-sliding.active-slide.active-options-right ion-item-options:not([side=left]){
      width: 4em;
    }
  }
  .list-md,
  .list-ios{
    margin: 0.4em 0;

    .item{
      border-bottom: 0.55px solid #c8c7cc;
    }

    ion-item-options{
      .button{
        height: 50%;
        min-height: 50%;
        margin: 0;
      }
    }
  }
  .right-arrow{
    font-size: 2em;
    color: #ccc;
    line-height: 1.25;
  }
  .fab{
    .icon{
      color: #fff;
      font-size: 0.9em;
    }
  }
}
