<ion-header>
  <ion-navbar hideBackButton>
    <div id="header">
      <div class="header-left">
        <button class="prev-next" (click)="prevMonth()" tappable>
          <ion-icon [ngClass]="{'disabled': !prev}" name="icon-arrow-left"></ion-icon>
        </button>
        <span class="month">{{month}}</span> <span class="year">{{year}}</span>
        <button class="prev-next" (click)="nextMonth()" tappable>
          <ion-icon [ngClass]="{'disabled': !next}" name="icon-arrow-right"></ion-icon>
        </button>
      </div>
      <div class="header-center"></div>
      <div class="header-right">
        <ion-spinner *ngIf="showSpinner"></ion-spinner>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="content">
    <div class="calendar">
      <table>
        <thead>
          <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <td *ngFor="let cell of row">
              <span [ngStyle]="{'background-color': '#'+cell.color_bg, 'color': '#'+cell.color_ft}" tappable>{{cell.text}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="shift-details">
      <div class="shift-time">
        <ion-grid no-padding>
          <ion-row>
            <ion-col *ngFor="let shift of shifts">
              <h5 [ngStyle]="{'background-color': '#'+shift.color_bg, 'color': '#'+shift.color_ft}" text-center>{{shift.name}}</h5>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="leaveRequests.length">
        <ion-list *ngFor="let request of leaveRequests">
          <ion-item>
            <span *ngIf="request.is_working == 0">NON-WORKING DAY</span>
            <span *ngIf="request.is_working == 1">WORKING DAY</span>
            <b [ngClass]="{'red': request.status===0, 'green': request.status===1}">{{request.status}}</b>
            <small item-end>{{request.leave_date | localtime:'shiftDate'}}</small>
          </ion-item>
        </ion-list>
      </div>

      <ion-list>
        <ion-grid *ngIf="!leaveRequests.length">
          <ion-row>
            <ion-col text-center>
              <h5 class="no-leave" ion-text>No leave requests</h5>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

      <div class="virtual-height"></div>

    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab mini color="danger" (click)="requestModal()" tappable><ion-icon name="icon-plus"></ion-icon></button>
  </ion-fab>

</ion-content>
